$white: #fffffe;
$black: #181818;
$grey: #2e2e2e;
$blue: #4fc4cf;
$offwhite: #f2eef5;
$purple: #994ff3;
$yellow: #fbdd74;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  height: 100vh;
  background-color: $offwhite;
}

a {
  text-decoration: none;
  color: $black;
}

h1,h2,h3,h4,h5,h6 {
  color: $black

}

p {
  font-family: 'Roboto';
  line-height: 1.4;
  color: $grey
}


ul {
  list-style: none;
}

li {
  line-height: 2.2;
}



.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid $grey;
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: $grey;
}

.header ul li a svg {
  margin-right: 5px;
}



.threebox {
  border-top: 1px solid $black;
  width: 298px;
  background-color: #4fc4cf;
  height: 49px;
  border-radius: 0 0 34px 34px !important;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition: 1s ease;
  opacity: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.hide {
  opacity: 0;
  transition: 1s ease;
  pointer-events: none;
}

.onebox {
  border-top: 1px solid $black;
  text-align: center;
  height: 49px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: ease 1s;
width: 100px;
  cursor: pointer !important;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}


.l1 {
  border-radius: 0 0 0 35px;
  transition: ease 1s;
}

.r1 {
  border-radius: 0 0 36px 0;
  transition: ease 1s;
}

.c1 {
  border-radius: 0 0 0 0;
  transition: ease 1s;
}



.l2 {
  border-radius: 0 15px 0 0;
  transition: ease 1s;
  background-color: $purple;
  width: 100px;

}

.r2 {
  border-radius: 15px 0 0 0;
  transition: ease 1s;
  background-color: $yellow;
  width: 100px;
}

.c2 {
  border-radius: 15px 15px 0 0;
  transition: ease 1s;
  background-color: $blue;
  width: 100px;

}





.flashcardContainer {
  background-color: $white;
  width: 300px;
  height: 200px;
  border-radius: 35px;
  border: 1px solid $black;
  margin: 20px;

  padding: 0px;
  overflow: hidden;
}

.flashcardHeader {
  height: 39px;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: end;
  border-bottom: 1px solid $black;
  background-color: $blue;
border-radius: 35px 35px 0 0;
}

.flashcardBody {
  height: 90px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 10px;

}


.flashcardFooter {
width: 300px;
  height: 50px;
  padding: 0px;
  overflow: hidden;
}


.threebox:active, .c2:active, .r2:active, .l2:active {
  transition: 0.2s ease;
  box-shadow: inset 0.1em 0.1em 0.1em 0 rgba(0, 0, 0, 0.5), inset -0.1em -0.1em 0.1em 0 rgba(0, 0, 0, 0.5);
}

.threebox, .r2,.c2, .l2 {
  transition: 0.2s ease;
  box-shadow: none;
}



.menuCard {
  width: 90%;
  padding: 20px;
  margin: 20px;
  background-color: $blue;
  height: 170px;
  border: 1px solid $black;
  border-radius: 20px;
  cursor: pointer;
}

.miniMenuCard {
  width: 90%;
  padding: 20px;
  margin: 20px;
  background-color: $blue;
  height: 120px;
  border: 1px solid $black;
  border-radius: 20px;
  cursor: pointer;
}

.menuCard:hover, .miniMenuCard:hover {
    filter: drop-shadow(3px 4px 2px rgba(0,0,0,0.2));
}

td, th {
  border-bottom: 1px solid $black;
  padding: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
}